<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/Style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="Nav">
        <div class="Logo-div">
            <img class="Logo" th:src="@{/img/Cloud.png}" alt="">
            <p class="Logo-name">Cloud</p>
        </div>
        <div class="links">
            <a th:href="@{/UserHome}"><ul>Home</ul></a>
            <a th:href="@{/UserVideo}" ><ul>Video</ul></a>
            <a th:href="@{/UserAudio}"><ul>Audio</ul></a>
            <a th:href="@{/UserPlaylist}" ><ul>PlayList</ul></a>
            <a th:href="@{/UserAbout}" style="color: #f4ce24;text-decoration: none;"><ul>About Us</ul></a>
        </div>
    </div>  
    <div class="img" style="padding-top: 100px;">
        <img src="https://asset.muvi.com/visual-designer/cdn/img/aboutus-banner.jpg"style="width:100%; height:300px;">
    </div>
   
    <div class="about" style="background-color: rgb(3, 15, 31) !important;color: white;margin-top: -20px;">
        <div style="margin-left:20px;">
            <br> <br>  <br>
            <h1 style="font-weight: bold;">About Us</h1><br>
            <p style="width: 92%;">Cloud lets you play the music you just have to hear, instantly.Jump in and explore thousands of tracks (and counting), and discover artists and tracks you'll love with personalized recommendations from the our in house Editors. Cloud works across all your devices, both online and offline, with no listening limits. It's music at your fingertips for waking up, getting going, chilling out, living life.</p>
        </div><br><br><br> <br> <br><br>
        <div style="margin-left:20px;">
            <h1 style="font-weight: bold;">Stream your favorite Content</h1><br>
            <p>With our library of over 70 million tracks and 250,000 videos,<br>
                you'll get the ultimate music experience.</p>
                
            <p>Create a playlist or try one of ours, hand-curated by music<br>
                editors and even the artists themselves.</p><br><br>
        </div>
    <div style="margin-left:50%;margin-top:-16%;">
    <img src="https://th.bing.com/th/id/OIP.9A2Yqz6wHiY1RhfdMMdaZgHaLG?pid=ImgDet&rs=1" style="width:160px;height:200px;">&nbsp;&nbsp;
    <img src="https://th.bing.com/th/id/OIP.IgAmkGYA0tXGxF9NNun2GAAAAA?pid=ImgDet&rs=1" style="width:160px;height:200px;margin-left: 1.5%;">&nbsp;&nbsp;
    <img src="https://th.bing.com/th/id/OIP.Kv-pYK8_2n-TWHzupKqAOwHaLH?pid=ImgDet&rs=1" style="width:160px;height:200px;margin-left: 1.5%;">&nbsp;&nbsp;
   </div>
   <div style="margin-left:50%;margin-top:4%;padding-bottom: 3%;">
    <img src="https://th.bing.com/th/id/OIP.UVPBQ-d3XBm5QXhpK4QSwAHaKj?pid=ImgDet&rs=1" style="width:160px;height:200px;">&nbsp;&nbsp;
    <img src="https://th.bing.com/th/id/R.2f4468a4bdfda1029da1709484dc58ea?rik=nIS%2fxLQB%2fDA0Vg&riu=http%3a%2f%2fbestbodyblog.com%2fwp-content%2fuploads%2f2018%2f07%2f33333.jpg&ehk=N34wANC3ismEW%2bVN2Xldva4WlGMIbYkDCiodZ%2fHNZ3w%3d&risl=&pid=ImgRaw&r=0" style="width:160px;height:200px;margin-left: 1.5%;">&nbsp;&nbsp;
    <img src="https://i2.wp.com/www.socialnews.xyz/wp-content/uploads/2019/08/09/Superstar-Mahesh-Babu-s-Sarileru-Neekevvaru-Movie-First-look-HD-Poster-and-Still-1.jpg?fit=1750%2C2478&quality=90&zoom=1&ssl=1" style="width:160px;height:200px;margin-left: 1.5%;">&nbsp;&nbsp;
   </div>


   
    </div>
    
    <footer>
        <div>
            <a href="">Contact Us</a>
            <a href="">Terms and Conditions</a>
             <a href="">Privacy and Cookies</a>
             <a href="">Privacy Options</a>
             <a href="">Help</a>
        </div>
         <p>Copyright @ TATA Elxsi 2023</p>
        
    </footer>


</body>
</html>