<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Dashboard</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/maincss.css}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script th:src="@{/js/script.js}"></script>
<script type="text/javascript">

var loadFile = function(event) {
	
	
	
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a href="index.html" class="logo d-flex align-items-center"> <img
				src="assets/img/logo.png" alt=""> <span
				class="d-none d-lg-block">FEE Admin</span>
			</a> <i class="bi bi-list toggle-sidebar-btn"></i>
		</div>
		<!-- End Logo -->

		<div class="search-bar">
			<form class="search-form d-flex align-items-center" method="POST"
				action="#">
				<input type="text" name="query" placeholder="Search"
					title="Enter search keyword">
				<button type="submit" title="Search">
					<i class="bi bi-search"></i>
				</button>
			</form>
		</div>
		<!-- End Search Bar -->

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">

				<li class="nav-item d-block d-lg-none"><a
					class="nav-link nav-icon search-bar-toggle " href="#"> <i
						class="bi bi-search"></i>
				</a></li>
				<!-- End Search Icon-->

				<li class="nav-item dropdown"><a class="nav-link nav-icon"
					href="#" data-bs-toggle="dropdown"> <i class="bi bi-bell"></i>
						<span class="badge bg-primary badge-number">4</span>
				</a>
				<!-- End Notification Icon -->
				<li class="nav-item dropdown"><a class="nav-link nav-icon"
					href="#" data-bs-toggle="dropdown"> Website <i
						class="bi bi-box-arrow-up-right"></i> <!-- <span class="badge bg-success badge-number"></span> -->
				</a>
				<!-- End Messages Icon --></li>
				<!-- End Messages Nav -->

				<li class="nav-item dropdown pe-3"><a
					class="nav-link nav-profile d-flex align-items-center pe-0"
					href="#" data-bs-toggle="dropdown"> <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
						<span class="d-none d-md-block dropdown-toggle ps-2">Vidhya
							J S</span>
				</a>
				<!-- End Profile Iamge Icon -->

					<ul
						class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li class="dropdown-header">
							<h6>Vidhya</h6> <span>Web Designer</span>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li><a class="dropdown-item d-flex align-items-center"
							href="users-profile.html"> <i class="bi bi-person"></i> <span>My
									Profile</span>
						</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li><a class="dropdown-item d-flex align-items-center"
							href="users-profile.html"> <i class="bi bi-gear"></i> <span>Account
									Settings</span>
						</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li><a class="dropdown-item d-flex align-items-center"
							href="pages-faq.html"> <i class="bi bi-question-circle"></i>
								<span>Need Help?</span>
						</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li><a class="dropdown-item d-flex align-items-center"
							href="#"> <i class="bi bi-box-arrow-right"></i> <span>Sign
									Out</span>
						</a></li>

					</ul>
					<!-- End Profile Dropdown Items --></li>
				<!-- End Profile Nav -->

			</ul>
		</nav>
		<!-- End Icons Navigation -->

	</header>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<li class="nav-item"><a class="nav-link " href="index.html">
					<i class="bi bi-grid"></i> <span>Dashboard</span>
			</a></li>
			<!-- End Dashboard Nav -->


			<li class="nav-item"><a class="nav-link collapsed"
				data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-menu-button-wide"></i><span>Content
						Management</span><i class="bi bi-chevron-down ms-auto"></i>
			</a>
				<ul id="components-nav" class="nav-content collapse "
					data-bs-parent="#sidebar-nav">
					<li><a th:href="@{/contentlibrary}"> <i
							class="bi bi-circle"></i><span>Contents Library</span>
					</a></li>
					<li><a th:href="@{/assetlibrary}"> <i class="bi bi-circle"></i><span>Asset
								Library</span>
					</a></li>
					<li><a th:href="@{/playlistlibrary}"> <i
							class="bi bi-circle"></i><span>Playlist Library</span>
					</a></li>
					<li><a th:href="@{/featuredsections}"> <i
							class="bi bi-circle"></i><span>Featured Sections</span>
					</a></li>
					<li><a th:href="@{/contnentsettings}"> <i
							class="bi bi-circle"></i><span>Content Settings</span>
					</a></li>

				</ul></li>
			<!-- End CMS Nav -->
		</ul>

	</aside>
	<!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Content Management</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
					<li class="breadcrumb-item active">People Library</li>

				</ol>
			</nav>
		</div>

		<section class="section dashboard">
			<div class="row">
				<div class="inside-content">
					<!--Add people button-->
					<div class="add-people" >
						<h5 style="margin-left: 20px; font-weight: 600;">Add Person</h5>
						
                         <form th:action="@{/addpeoplelibrary}" th:object="${peoplelibrary}" method="POST" enctype="multipart/form-data">
						<div>
							<label
								style="margin-left: 20px; margin-right: 50px; font-size: 14px;">Profile
								Picture</label>&nbsp; 
								<span
								onclick="document.getElementById('profilepic').style.display='block'"
								class="w3-button w3-white"
								style="padding: 20px ;height: 70px;width: 130px;margin-left:0;margin-top:1%;margin-bottom:1%;border-style: dashed;border-color:#18A0FB;border-radius:5px; position: relative;">
								<a style="font-size: 13px;">+ Add file</a>
								<img id="output" width="200" style="position: absolute; top: 0; left: 0; opacity: 0.5;" />
							</span>
							
							
						</div>
						<p style="margin-left: 175px; font-weight: 400; font-size: 12px;">Resolution:252x300px</p>
						<div>
							<label
								style="margin-top: 2%; width: 139px; margin-left: 3%; font-weight: 500;">Name<span
								style="color: red;">*</span></label>&nbsp; <input type="text" id="fname"
								th:name="people_name" 
								style="height: 30px; width: 250px;"
								placeholder="Enter person name">

						</div>
						<div>
							<label
								style="margin-top: 5%; width: 139px; margin-left: 3%; font-weight: 500;">Bio<span
								style="color: red;">*</span></label>&nbsp; <input type="text" id="fname"
								th:name="bio"
								style="height: 80px; width: 250px; margin-top: 2%; margin-bottom: 3%;"
								placeholder="Type here">
						</div>
						<!-- cancel and save buttons-->
						<div class="cancel-save-btn-addpeople" >
							<!--  <button type="submit"
								style="background-color: #fff; color: rgb(31, 29, 29); border: 1px solid rgb(33, 33, 33);">Cancel</button>
							&nbsp;&nbsp;&nbsp;-->
							<button type="submit" value="savepeople">Save</button>

						</div>
						

						<!--popup-->
						<div id="profilepic" class="w3-modal">

							<div class="w3-modal-content"
								style="height: 70%; width: 50%; margin-left: 36%; margin-top: 5%; border-radius: 10px;">

								<div class="w3-container">

									<span
										onclick="document.getElementById('profilepic').style.display='none'"
										class="w3-button w3-display-topright">&times;</span>

									<h4>Upload</h4>
									<div class="row">
										<div>
											<nav>
												<ol class="breadcrumb">

													<li class="breadcrumb-item"><a href="#">Upload
															From Computer</a></li>

													<li class="breadcrumb-item">Choose From Library</li>
												</ol>
											</nav>
										</div>

										<fieldset
											style="border: dashed; border-color: #18A0FB; height: 100%; width: 96%; border-radius: 5px; margin: 10px;">
											<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE"
												value="300000" />
											<div>
												<label for="fileselect"
													style="margin-left: 25%; margin-top: 11%; color: #18A0FB;">Browse,
													or Drag & drop your file here</label>
												
													<input type="file" accept="image/*" th:name="profile_picture" id="fileselect"
														onchange="loadFile(event)" style="cursor: pointer; margin-left:30%;margin-top:10px;margin-bottom:30px;">
												
												
													
												
											</div>
										</fieldset>
										<div
											style="font-size: 12px; margin-left: 0%; white-space: nowrap; color: grey;">Supported
											file : ( jpg, jpeg, png, gif, svg, jfif )</div>

									</div>

								</div>
							</div>

						</div>
						</form>
						<!-- end pop up-->
					</div>


				</div>

				<!-- Left side columns -->
				<div class="col-lg-8">
					<div class="row"></div>
				</div>
			</div>
		</section>


	</main>
	<!-- End #main -->


	<!--Add content-->


	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>FeeAdmin</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">

			Designed by <a href="">Devil</a>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/chart.js/chart.umd.js"></script>
	<script src="assets/vendor/echarts/echarts.min.js"></script>
	<script src="assets/vendor/quill/quill.min.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="assets/js/main.js"></script>

</body>

</html>