<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/maincss.css}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script th:src="@{/js/script.js}"></script> 

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="@{/}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">FEE Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar" >
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

         
       

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> Website
            <i class="bi bi-box-arrow-up-right"></i>
            <!-- <span class="badge bg-success badge-number"></span> -->
          </a><!-- End Messages Icon -->

          

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <span class="d-none d-md-block dropdown-toggle ps-2">Vidhya J S</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Vidhya</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{/}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Content Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/contentlibrary}">
              <i class="bi bi-circle"></i><span>Contents Library</span>
            </a>
          </li>
          <li>
            <a th:href="@{/assetlibrary}">
              <i class="bi bi-circle"></i><span>Asset Library</span>
            </a>
          </li>
          <li>
            <a th:href="@{/playlistlibrary}">
              <i class="bi bi-circle"></i><span>Playlist Library</span>
            </a>
          </li>
          <li>
            <a th:href="@{/featuredsections}">
              <i class="bi bi-circle"></i><span>Featured Sections</span>
            </a>
          </li>
          <li>
            <a th:href="@{/contnentsettings}">
              <i class="bi bi-circle"></i><span>Content Settings</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End CMS Nav -->

     
                 </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Content Management</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item active">Content Library</li>
         
        </ol>
      </nav>
    </div>



    <section class="section dashboard" >
      <div class="row">
        <div class="inside-content">
            <div class="link">
                <a th:href="@{/contentlibrary}" style="color: rgba(134, 5, 255, 0.895);">Content library</a>
                <a th:href="@{/peoplelibrary}" style="margin-left: 20px; color: rgb(99, 95, 95);">People library</a>
                <a th:href="@{/category}" style="margin-left: 20px; color: rgb(99, 95, 95);">Manage category</a>
                <a th:href="@{/bulkupload}" style="margin-left: 20px; color: rgb(99, 95, 95);">Bulk Upload</a>
                
            </div>
            <div class="inside-content-header">
                <h2 class="breadcrumb-item active">Content Library</h2>
                <div class="inside-search-content">
                    <input type="text" id="search-input" placeholder="Search.." name="search">
                      <button type="button"><i class="bi bi-search"></i></button>
                </div>
                <div class="inside-button-content">
                 <a th:href="@{/addcontent}"  style=" color: aliceblue;">  <button style="font-size: 13px;  "> <i class="bi bi-plus" style="margin:2px;word-wrap: break-word;" > Add Content</i></button></a>
                </div>

            </div>
            
            
            <div class="table-div"  >
            <table style="width:95%;">
             <tr class ="thead-class" style="width:100%; display: flex; height: 35px;">
                    
                        <th style="width: 45%; margin-bottom: 5px; margin-top: 5px; font-weight: 150;">Content Name</th>
                        <th style="width: 30% ; margin-bottom: 5px; margin-top: 5px; font-weight: 150;">Category</th>
                        <th style="width: 20% ; margin-bottom: 5px; margin-top: 5px; font-weight: 150;">Monetization</th>
                        <th style="width: 15% ; margin-bottom: 5px; margin-top: 5px; font-weight: 150;">&nbsp;&nbsp;</th>
                        
                </tr>
            
                <tbody id="table-content">
                
                    <tr class="tr-data" style="display: flex;  height: 90px; margin-top:10px;width:100%;" th:each="content: ${contentlist}" >
                        <td  th:if="${content.thumbnail_assets!=null}" th:each="asset: ${content.thumbnail_assets}" style=" display: flex; flex-direction:row; width: 45%; ">
                        <img th:src="@{${asset.asset_filepath} }" width="60" height="60" fill="currentColor"  >
                           <p style="font-size: 10px; margin-left: 30px; ">Content ID:<span th:text="${content.content_id}"></span><br>Full Name:<span  th:text="${content.content_name}"></span></p> 
                         </td>
                         
                         
                          <td th:unless="${content.thumbnail_assets!=null}" style=" display: flex; flex-direction:row; width: 45%; ">
                        <img th:src="@{/img/video-placeholder.jpg} " width="60" height="60" fill="currentColor"  >
                           <p style="font-size: 10px; margin-left: 30px; ">Content ID:<span th:text="${content.content_id}"></span><br>Full Name:<span  th:text="${content.content_name}"></span></p> 
                         </td>
                         
                         
                         
                          <td   style=" width: 30% ;  " >
                          <i th:if="${content.content_type=='audio'}" class="bi bi-music-note-beamed" style="margin-left:px;">&nbsp;<span th:text="${content.content_type}" style="margin-left:5px;"></span> </i>
                          <i th:unless="${content.content_type=='audio'}" class="bi bi-camera-video" style="margin-left:px;">&nbsp;<span th:text="${content.content_type}" style="margin-left:5px;"></span> </i>
                          </td>
                          <td style="width:20%; font-size: 12px; font-weight: 400; padding: 10px; " >
                          
                          </td>
                          
                          <td  style="width:15%; padding: 10px;"><a th:href="@{'/updatecontent/'+${content.content_id}}"><i class="bi bi-pencil-square"></i></a>&nbsp;<a th:href="@{'/deleteContent/'+${content.content_id}}"><i class="bi bi-trash"></i></a>&nbsp;</td><!--  -->
                    
                    </tr>
                    </tbody>
                
            </table>
            </div>
         <!--  Modal-->


<!-- End General Form Elements -->
<!-- modal end-->
        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
        </div>
        </div>
      </div>
      </div>
    </section>

   
           

  </main><!-- End #main -->





  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>FeeAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    
      Designed by <a href="">Devil</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      
  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
   
   <script>

  const searchInput = document.querySelector("#search-input");
  const tRows = document.querySelectorAll(".tr-data");
  const tableBody = document.querySelector("#table-content");
  

   
   console.log(searchInput.value);
   
   document.querySelector("#search-input").addEventListener("change", (e) => {
	   
	   let tableRows = "";
	   
	  let searchValue = e.target.value;
	  searchValue = searchValue.toLowerCase();
	  // console.log(tRows);
	  
	  tRows.forEach((data) => {
		  
		  console.log(data.children[0].children[1].innerText)
		  
		  let tdValue = data.children[0].children[1].innerText.toLowerCase();
		  
		//  console.log(tdValue.includes(searchValue));
		 
		  if(tdValue.includes(searchValue))  tableRows += data.outerHTML;
	  })
	  
	  
	  console.log(tableRows);
	  
	  tableBody.innerHTML = tableRows;
	 
	  
	  
   }); 
   
   /* function searchInput(event) {
	   console.log(event);
   } */
  
  </script>
   

</body>

</html>