<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/maincss.css}">

  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

   <script type="text/javascript">


  function userAction() {
    var dStyle = document.getElementById("user-management-link").style.display;

if(dStyle === "none"){
  document.getElementById("user-arrow-down").style.display = "none";
    document.getElementById("user-arrow-up").style.display = "block";
    var elem = document.getElementById("user-arrow-up");
    elem.className = "bi bi-chevron-up ms-auto ";


document.getElementById("user-management-link").style.display = `block`;}
else{
  document.getElementById("user-arrow-up").style.display = "none";
    document.getElementById("user-arrow-down").style.display = "block";
    var elem = document.getElementById("user-arrow-down");
    elem.className = "bi bi-chevron-down ms-auto ";


document.getElementById("user-management-link").style.display = `none`;
  }
}
  function userAction1() {
    var dStyle = document.getElementById("marketing-link").style.display;

if(dStyle === "none"){
document.getElementById("marketing-arrow-down").style.display = "none";
    document.getElementById("marketing-arrow-up").style.display = "block";
    var elem = document.getElementById("marketing-arrow-up");
    elem.className = "bi bi-chevron-up ms-auto animate";

document.getElementById("marketing-link").style.display = `block`;}
else{
  document.getElementById("marketing-arrow-up").style.display = "none";
    document.getElementById("marketing-arrow-down").style.display = "block";
    var elem = document.getElementById("marketing-arrow-down");
    elem.className = "bi bi-chevron-down ms-auto ";


document.getElementById("marketing-link").style.display = `none`;
  }
}


  function userAction2() {
    var dStyle = document.getElementById("analytics-link").style.display;

if(dStyle === "none") {

    document.getElementById("analytics-arrow-down").style.display = "none";
    document.getElementById("analytics-arrow-up").style.display = "block";
    var elem = document.getElementById("analytics-arrow-up");
    elem.className = "bi bi-chevron-up ms-auto animate";


   
    document.getElementById("analytics-link").style.display = `block`;
}

else {
    
    document.getElementById("analytics-arrow-up").style.display = "none";
    document.getElementById("analytics-arrow-down").style.display = "block";
    var elem = document.getElementById("analytics-arrow-down");
    elem.className = "bi bi-chevron-down ms-auto ";

    document.getElementById("analytics-link").style.display = `none`;
}

  }
  function deleteRow() {
      var td = event.target.parentNode; 
      var tr = td.parentNode; 
      tr.parentNode.removeChild(tr);
}
  function alertSuccessMessage()
  {   
    //Enable  
  setTimeout(function(){
    document.querySelector('.alert-primary"').style.display = 'none';
  }, 3000);

  }
  function alertErrorMessage()
  {   
 
  
  //Disable
  setTimeout(function(){
    document.querySelector('.alert-danger').style.display = 'none';
  }, 3000);
  }
    
  function alertMessage()
  {   
 
	  setTimeout(function(){
		    document.querySelector('.alert-primary"').style.display = 'none';
		  }, 3000);
  //Disable
  setTimeout(function(){
    document.querySelector('.alert-danger').style.display = 'none';
  }, 3000);
  }
  </script>

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">FEE Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar" >
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

         
       

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> Website
            <i class="bi bi-box-arrow-up-right"></i>
            <!-- <span class="badge bg-success badge-number"></span> -->
          </a><!-- End Messages Icon -->

          

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <span class="d-none d-md-block dropdown-toggle ps-2">Vidhya J S</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Vidhya</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{/}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Content Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/contentlibrary}">
              <i class="bi bi-circle"></i><span>Contents Library</span>
            </a>
          </li>
          <li>
            <a th:href="@{/assetlibrary}">
              <i class="bi bi-circle"></i><span>Asset Library</span>
            </a>
          </li>
          <li>
            <a th:href="@{/playlistlibrary}">
              <i class="bi bi-circle"></i><span>Playlist Library</span>
            </a>
          </li>
          <li>
            <a th:href="@{/featuredsections}">
              <i class="bi bi-circle"></i><span>Featured Sections</span>
            </a>
          </li>
          <li>
            <a th:href="@{/conntentsettings}">
              <i class="bi bi-circle"></i><span>Content Settings</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End CMS Nav -->

                 </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Content Management</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item active">Asset Library</li>
         
        </ol>
      </nav>
    </div>

    <section class="section dashboard">
      <div class="row">
        <div class="inside-content">
            <div class="link">
                <a th:href="@{/assetlibrary}" style="color: rgb(99, 95, 95);">Video</a>
                <a th:href="@{/audio}" style="margin-left: 20px; color: rgb(99, 95, 95);">Audio</a>
                <a th:href="@{/images}" style="margin-left: 20px; color:  rgb(99, 95, 95);">Images</a>
                <a th:href="@{/file}" style="margin-left: 20px;color: rgba(134, 5, 255, 0.895);">File</a>
                <a th:href="@{/bulkUpload1}" style="margin-left: 20px;color: rgb(99, 95, 95);">Bulk Upload</a>
            </div>
            <div class="inside-content-header">
                <h2 class="breadcrumb-item active" style="font-family: cursive;">File Library</h2>
                <div class="inside-search-content">
                     <!--  <form action="/action_page.php">
                      <input type="text" placeholder="Search.." name="search">
                      <button type="submit"><i class="bi bi-search"></i></button>
                    </form>-->
                </div>
                <div class="inside-button-content">
                    <button type="submit" onclick="document.getElementById('id01').style.display='block'"><span class="bi bi-upload">Upload Files</span></button>

                    <div class="w3-container">
                      <div id="id01" class="w3-modal">
                        <div class="w3-modal-content" style="height:70%;width:50%;margin-left:36%;margin-top:5%;border-radius:10px;">
                          <div class="w3-container">
                            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <h4>Upload</h4>
                            
                            <div class="row">
                              
      
      
                              <form th:action="@{/assetlibrary4}" method="post" enctype="multipart/form-data">
      
                                <fieldset style="border:dashed;border-color:#18A0FB;height:60%;width:100%;border-radius: 5px;margin-top:5%;">
                                
                                
                                <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
                                
                                <div>
                                  <label for="fileselect" style="margin-left:25%;margin-top:10%;color: #18A0FB;">Browse, or Drag & drop your file here</label>
                                   <input type="file" id="assetLib" th:name="assetLib" multiple="multiple" accept=".pdf" style="margin-left:30%;margin-top:10px;"/> 
                                <div id="submitbutton">
                                  <button type="submit" style="margin-left:80%;margin-top :10%;background-color: #18A0FB;border: none;border-radius:3px;color: azure;" th:href="@{/file}">Upload Files</button>
                                </div>
                                </div>
                                </fieldset>
                                </form>
                                <div style="font-size: 12px;margin-left:0%; white-space: nowrap;color: grey;">Supported file : ( pdf,doc,docx )</div>
                              </div>
                                
      
      
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
            <div class="alert alert-primary"  role="alert" style="background: #1bd5a2; text-align: center;" th:text="${success}"  th:if="${success}"></div>
            <div class="alert alert-danger" role="alert" style="text-align: center;color:black;" th:text="${error}" th:if="${error}"></div>
            <div class="table-div">
            <table>
                <thead class ="thead-class">
                    <tr height="40">
                        <th width="420"> File Name</th>
                        <th width="280">Properties</th>
                        <th width="110">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="asset : ${assetlist}"  th:if="${asset.asset_type}==${asset.asset_type.File}" >
                        <th  height="70"  style="display: flex; flex-direction:row;  font-size:15px; font-weight:lighter;"><p th:text="${asset.asset_name}" style=" margin-left:8px; margin-top:23px; font-size:15px; font-weight:lighter;"></p></th>
                        <th  style="font-size:15px;  font-weight:lighter;">File Size: [[${asset.asset_size}]] <i class="bi bi-info-circle-fill"></i></th>
                        <th  ><a th:href="@{${asset.asset_filepath}}"><i class="bi bi-download"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{/assetlibraryDelete4(asset_id=${asset.asset_id})}"><i class="bi bi-trash3-fill"></i></a></th>
                    </tr>
                </tbody>
            </table>
            </div>
            
        </div>
        </div>


        <!-- Left side columns -->
           
</section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>FeeAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    
      Designed by <a href="">Devil</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>