<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/maincss.css}">

  <script th:src="@{script.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script type="text/javascript">
        
    </script>
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">FEE Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

   <!--  -- <div class="search-bar" >
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

         
       

        <li class="nav-item dropdown">

          <a th:href="@{/UserHome}" target="_blank" class="nav-link nav-icon"  > Website
            <i class="bi bi-box-arrow-up-right"></i>
                      </a>
          

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <span class="d-none d-md-block dropdown-toggle ps-2">Vidhya J S</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Vidhya</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{/}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Content Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           <li>
            <a th:href="@{/contentlibrary}">
              <i class="bi bi-circle"></i><span>Contents Library</span>
            </a>
          </li>
          <li>
            <a th:href="@{/assetlibrary}">
              <i class="bi bi-circle"></i><span>Asset Library</span>
            </a>
          </li>
          <li>
            <a th:href="@{/playlistlibrary}">
              <i class="bi bi-circle"></i><span>Playlist Library</span>
            </a>
          </li>
          <li>
            <a th:href="@{/featuredsections}">
              <i class="bi bi-circle"></i><span>Featured Sections</span>
            </a>
          </li>
          <li>
            <a th:href="@{/contnentsettings}">
              <i class="bi bi-circle"></i><span>Content Settings</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End CMS Nav -->

     
                 </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Content Management</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item active" >Manage Category</li>
         
        </ol>
      </nav>
    </div>

    <section class="section dashboard">
      <div class="row">
        <div class="inside-content">
            <div class="link">
                <a th:href="@{/contentlibrary}" style="color: rgb(99, 95, 95);">Content library</a>
                <a th:href="@{/peoplelibrary}" style="margin-left: 20px; color: rgb(99, 95, 95);">People library</a>
                <a th:href="@{/managecategory}"  style="margin-left: 20px; color: rgba(134, 5, 255, 0.895);">Manage category</a>
                <a th:href="@{/bulkupload}" style="margin-left: 20px; color: rgb(99, 95, 95);">Bulk Upload</a>
                
            </div>
            <div class="inside-content-header">
                <h2 class="breadcrumb-item active" style="font-size: 27px;">Manage Category</h2>
                <div class="inside-search-content">
                    
                </div>
                <div class="inside-button-content">
                    <button id="btAdd"  class="bt" style="font-size: 13px;  " onclick="addCategory() "><i class="bi bi-plus" style="margin:2px;word-wrap: break-word;"></i> Add Category</button>
                </div>
                
            </div>
            <div class="table-div">
            <div class="alert alert-danger" role="alert" style="text-align: center;color:black;" th:text="${Perror}" th:if="${Perror}"></div>
            <table style="width:95%">
                <tr class ="thead-class" style=" display: flex; height: 35px;">
                    
                        <th style="width: 90%; margin-bottom: 5px; margin-top: 5px; margin-left: 10px; font-weight: 150;"> Category Listing</th>
                        <th  style="width: 30%; margin-bottom: 5px; margin-top: 5px; margin-left: 10px; font-weight: 150;">&nbsp;&nbsp;</th>
                </tr>
               
                    <tr  style="display: flex; height:40px;">
                        <td  style="display: flex;flex-direction: column;width: 90%; ">
                        
                         <form th:action="@{/categoryRest}" th:object="${category}" method="POST">
                          <div id="inside-table" style="display:none;" >
                           <input type="text"  id="manage-category-input" th:name="category_name"  placeholder="category name" style="margin-top:10px ;margin-left:15px ; margin-bottom:15px;">
      <!-- <button  type="submit" id="categorybtn" value="savecategory">Save</button> -->
                           

                          </div>
                          </form>                   
                        </td>
                       
                       
                        
                        
                    </tr>
                    
                    <tr style="display: flex;  height:30px; margin-top:10px; margin-left:50px; width:500px" th:each="cat:${categorylist}" >
                       <td th:text="${cat.category_name}" style=" background-color: aliceblue; padding:5px; width: 90%;">                    
                      </td>
                      <td style="width: 30%;"><span   style=" border:none; float:right;  margin: 2px;"><a th:href="@{'/deletecategory/'+${cat.category_id}}" style="text-decoration:none;  color: black; "><i class="bi bi-trash" style="padding-top:10px;" ></i></a></span> </td>
                      <!-- <td style="padding: 10px;"><i class="bi bi-pencil-square"></i>&nbsp;&nbsp;<a th:href="@{'/deletecategory/'+${cat.category_id}"><i class="bi bi-trash"></i></a></td>   -->
                    </tr>
               
            </table>
            </div>
        </div>

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
        </div>
        </div>
      </div>
    </section>
           

  </main><!-- End #main -->


<!--Add content-->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>FeeAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    
      Designed by <a href="">Devil</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
  <script>
 
  
  
  
  
var count = 0;
function addCategory() {
	document.querySelector("#inside-table").style.display="block";
 //var content = document.querySelector("#inside-table").innerHTML;
  // content =content +
  // `   
   //<div id="div-element${count}">
      //<span id="element${count}" onclick="deleteClick('element${count}')" style="background: transperant; border:none; background-color: #e9ecef; float:right; margin-top:10px ;margin-left:15px ; margin-bottom:15px;"><i class="bi bi-trash"></i></span>  
      // </div> 
   
    //  `;
   //document.querySelector("#inside-table").innerHTML = content;
   //count ++;
    }
    
    
    
    
  
    
    
    
     </script>

</body>

</html>